<app-header></app-header>

<div *ngIf="portfolioService.portfolio; else loading" class="main-content">
  <header class="basic-data" id="page-top">
    <div class="container">
      <div class="row person">
        <div class="person-data">
          <div class="decoration"></div>
          <div class="person-name">{{ portfolioService.portfolio.person.name }}</div>
          <div class="person-motto">
            <i>{{ portfolioService.portfolio.person.motto }}</i>
          </div>

          <div class="biografie">
            <div class="row" *ngFor="let item of portfolioService.personOthers">
              <div class="key">
                <span [innerHtml]="item.key"></span>
              </div>
              <div class="value">
                <span [innerHtml]="item.value"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col personFoto">
          <img src="{{ portfolioService.portfolio.person.foto }}" />
        </div>
      </div>
    </div>
  </header>

  <div class="middle">
    <div class="main-section">
      <div id="skills" class="anchor"></div>
      {{ messages["skills"] }}
    </div>

    <div id="skils-content">
      <skills (filteredSkills)="filterProjects($event)"></skills>
    </div>

    <div class="main-section">
      <div id="projects" class="anchor"></div>
      {{ messages["projects"] }} ({{ filteredProjects.length }})
      <div *ngIf="filteredProjects.length == 0">{{ messages["no-projects"] }}</div>
    </div>

    <div *ngFor="let project of filteredProjects; let even = even" [ngClass]="{ 'bg-light': even, 'bg-dark': !even }">
      <project [project]="project"></project>
    </div>

    <div class="main-section">
      <div id="others" class="anchor"></div>
      {{ messages["other"] }}
    </div>

    <div *ngFor="let item of portfolioService.others; let even = even" [ngClass]="{ 'bg-light': even }" class="other-entry" id="item.key">
      <div class="other-key">{{ item.key }}</div>
      <p class="lead" [innerHtml]="item.value"></p>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">Copyright &copy; {{ portfolioService.portfolio.copyright }}</div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
