<app-header></app-header>

<div *ngIf="portfolioService.portfolio; else loading">
  <header class="" id="page-top">
    <div class="container">
      <div class="row person">
        <div class="col personMeta">
          <h1>{{ portfolioService.portfolio.person.name }}</h1>
          <h5>
            <i>{{ portfolioService.portfolio.person.motto }}</i>
          </h5>
          <div class="container">
            <div class="row" *ngFor="let item of portfolioService.personOthers">
              <div class="col">
                <span [innerHtml]="item.key"></span>
              </div>
              <div class="col">
                <span [innerHtml]="item.value"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col personFoto">
          <img src="{{ portfolioService.portfolio.person.foto }}" />
        </div>
      </div>
    </div>
  </header>

  <div id="skills" class="main-section">
    <h1>Skills</h1>
  </div>

  <div id="skils-content">
    <skills (filteredSkills)="filterProjects($event)"></skills>
  </div>

  <div id="projects" class="main-section">
    <h1>Projects</h1>
    <div *ngIf="filteredProjects.length == 0">no projects for all selected skills</div>
  </div>

  <div *ngFor="let project of filteredProjects; let even = even" [ngClass]="{ 'bg-light': even }">
    <project [project]="project"></project>
  </div>

  <div id="others" class="main-section">
    <h1>Others</h1>
  </div>

  <div *ngFor="let item of portfolioService.others; let even = even" [ngClass]="{ 'bg-light': even }" id="item.key">
    <h2>{{ item.key }}</h2>
    <p class="lead" [innerHtml]="item.value"></p>
  </div>
  <!-- Footer -->
  <div class="footer">Copyright &copy; {{ portfolioService.portfolio.copyright }}</div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
