<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>{{ project.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h6>{{ getDuration() }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <p class="lead" [innerHTML]="project.description"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <labels [values]="project.skills"></labels>
    </div>
  </div>
</div>
