@mixin bg-strike($color) {

    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 

    h1 {

        position: relative;
        display: inline-block;

        &:before,
        &:after {
            content: "-----------------------------------";
            position: absolute;
            
        }

        &:before {
            right: 100%;
            margin-right: 15px;
        }

        &:after {
            left: 100%;
            margin-left: 15px;
        }
    }
}

.nerd {

  * {
    font-family: courier, courier new, serif;
  }

  .main-section {
    @include bg-strike(black);
    color: black;
  }
  

}
