@import "nerd-theme";
@import "playground-theme";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 100px 0 50px;
}


.capitalize {
  text-transform: capitalize;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .col {
    margin-right: 5px;
  }
}

button.skill-button {
  margin: 5px;
}

.skills-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filtered-skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  .skill-card {
    margin: 5px;
  }
}

.project {
  .duration {
    position: relative;
    top: -20px;
  }
  .skills {
    justify-content: flex-start;
    flex-wrap: wrap;
    .skill-tag {
      padding: 2px 5px 2px 5px;
      margin: 3px 3px 0 0;
      border-radius: 5px;
      background-color: #32cd3277;
    }
  }
}

.footer {
  text-align: right;
}
